<br>
<br>
<div style="text-align:center;">
  <h1> Welcome </h1>
  <h4>Please Log in to Begin</h4>
  <%= link_to "Sign In", new_user_session_path%> <br><br>
  <%= link_to "About", "#"%>
  <%= link_to "Invite", new_user_invitation_path%>
<div>