<br>
<br>
<div style="text-align:center;">
  <h1> Welcome </h1>
  <h4>Please Log in to Begin</h4>
  <br>
  <%= link_to "Sign In", new_user_session_path, :class => "btn btn-primary" %> <br><br>
  <%= link_to "About", "#", :class => "btn btn-info"%>
<div>