<p>Your request to use the <%= @item.asset%> 
  <%if @responce == 0 %>
    has been Reject.<br>
    Sorry for Inconvinence.
  <%else%>
    has been accepted.<br>
    You can use the Asset.<br>
    Please return after use.
  <%end%>
</p>
