<h1>SHOW</h1>

<table>
  <tr>
    <td> Asset ID </td>
    <td> <%=@item.id%> </td>
  <tr>
    <td>Asset</td>
    <td> <%=@item.asset%> </td>
  </tr>  
  <tr>
    <td> Asset Code </td>
    <td> <%=@item.asset_code%> </td>
  </tr>  
</table>