<h2>Show Detail</h2>
<br>
  <table class="table" style="width:auto; margin:auto; text-align: left;">
    <tr>
      <td>Category ID: </td>
      <td><%=@category.id%></td>
    <tr> 
      <td>Name: </td>
      <td><%=@category.category%></td>
    </tr>  
    <tr>
      <td>Assets: </td>
      <td>
        <%@category.items.each do |item|%>
        <%= item.asset %> <br>
        <%end%>
      </td>
    </tr>
  </table>
<%=link_to "Back", categories_path , :class=> "btn btn-secondary"%>
</div>