<h1>Show </h1>

<%=link_to "Get back", categories_path%>
<h1>Show Detail</h1>

  <table class= "table">
    <tr>
      <td>Category ID </td>
      <td><%=@category.id%></td>
    <tr>
      <td>Name</td>
      <td><%=@category.category%></td>
    </tr>  
  </table>

</div>